:root {
  --titlefont: 'Rubik Doodle Shadow', sans-serif;
  --mainfont: 'Titillium Web', sans-serif;
  --labelfont: 'Sarala', sans-serif;
  font-family: var(--mainfont);
  background-image: url(/rockwall.jpg);
  background-position: top -6rem left 0;
  background-attachment: fixed;
}

.title {
  font-family: var(--titlefont);
  font-size: 4rem;
  color: white;
  letter-spacing: .5rem;
  font-weight: 600;
}

.label {
  font-family: var(--labelfont);
}

.ellipsis {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}

.btnctn {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 2rem;
  right: 1.2rem;
  border: lightgray 1px solid;
  border-radius: 18px;
}

.btn {
  width: 100%;
}

.ellipsis:hover {
  background-color: lightgray;
  border-radius: 6px;
}

/* Sign Up Form */
.forminput>input {
  border: 2px gray solid;
  border-radius: 12px;
  align-self: right;
  margin-right: 10%;
  padding: 0 8px;
}

.forminput>input:hover,
.forminput>input:focus {
  outline: solid #7E9FC0;
}

.forminput>label {
  text-align: right;
  overflow-wrap: anywhere;
}

.forminput {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 1rem;
}

.signupdiv {
  background-color: #D9E7E7;
  margin-top: 15vh;
  width: 90%;
  margin-left: auto;
  border-radius: 12px;
}


/* Signup HomePage */
.mainbg {
  height: 100vh;
  background-image: url(/boulder.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 10vh;
  position: absolute;
  top: 2%;
  left: 10%;
  background-color: black;
}

.loginbtn:hover {
  font-weight: bolder;
}

/* HomePage */
.mainbar {
  top: 5.5rem;
  font-family: var(--labelfont);
}

.mainheader {
  top: 5.5rem;
  height: 3.7rem;
  border-radius: 12px 0 0 0;
}

.maintitle {
  z-index: 10;
  height: 5.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--titlefont);
  font-size: 3rem;
  letter-spacing: .5rem;
  padding: 0.5rem 5rem;
  font-weight: 600;
}

.postctn {
  padding: 0 2rem;
  background-color: white;
  margin-top: 13.3rem;
}

.postform {
  top: 9.2rem;
  right: 0;
  left: 20%;
  background-color: white;
}

/* Profile Page */
.profileheader {
  top: 5.5rem;
  height: 5rem;
  border-radius: 12px 0 0 0;
}

.profilepostctn {
  padding: 0 2rem;
  background-color: white;
  margin-top: 5.5rem;
}